In [2]:
import pandas as pd

In [42]:

# sub1 = pd.read_csv("rongheguize_0902538.csv")
sub1 = pd.read_csv("guize_054.csv")

sub2 = pd.read_csv("evaluation_public_20190917_lgb.csv")

sub3 = pd.read_csv("tutusubmit02.csv")

sub4 = pd.read_csv("yulao_lgb.csv")
sub5 = pd.read_csv("yulao_xgb.csv")

# sub7 = pd.read_csv("zhang578.csv")

# sub8 = pd.read_csv("lgb092702.csv")
sub6 = pd.read_csv("lgb092903.csv")

In [36]:
sub1['forecastVolum'] = (sub1['forecastVolum'].values)*(1/2)+(sub2['forecastVolum'].values)*(1/2)
sub1.head()
sub1[['id','forecastVolum']].round().astype(int).to_csv('guizeronghe_sub1.csv', index=False)

In [38]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)
print(sub4.shape)
print(sub5.shape)
print(sub6.shape)
# print(sub7.shape)

(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)

In [39]:
print(sub1.head)
print(sub2.head)
print(sub3.head)
print(sub4.head)
print(sub5.head)
print(sub6.head)
# print(sub7.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            288
1        2            376
2        3            154
3        4            332
4        5            402
...    ...            ...
5275  5364             95
5276  5365             83
5277  5366            104
5278  5367            227
5279  5368             66

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            249
1        2            308
2        3            163
3        4            283
4        5            393
...    ...            ...
5275  5364             94
5276  5365             94
5277  5366             76
5278  5367            214
5279  5368             41

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            236
1        2            251
2        3            143
3        4            244
4        5            311
...    ...            ...
5275  5364             30
5276  5365             30
5277  5366             23
5278  5367            125
5279  5368             26

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            241
1        2            291
2        3            149
3        4            246
4        5            367
...    ...            ...
5275  5364             72
5276  5365             66
5277  5366             68
5278  5367            173
5279  5368             49

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            223
1        2            284
2        3            138
3        4            192
4        5            331
...    ...            ...
5275  5364             60
5276  5365             58
5277  5366             84
5278  5367            130
5279  5368             39

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            246
1        2            309
2        3            172
3        4            283
4        5            376
...    ...            ...
5275  5364             99
5276  5365             94
5277  5366             92
5278  5367            216
5279  5368             65

[5280 rows x 2 columns]>

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/5)+(sub2['forecastVolum'].values)*(1/5)+(sub3['forecastVolum'].values)*(1/5)+(sub4['forecastVolum'].values)*(1/5)+(sub5['forecastVolum'].values)*(1/5)
sub_ronghe.head()

   id  forecastVolum
0   1          262.2
1   2          317.2
2   3          158.0
3   4          290.0
4   5          374.8

In [43]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/6)+(sub2['forecastVolum'].values)*(1/6)+(sub3['forecastVolum'].values)*(1/6)+(sub4['forecastVolum'].values)*(1/6)+(sub5['forecastVolum'].values)*(1/6)+(sub6['forecastVolum'].values)*(1/6)
# sub_ronghe['forecastVolum'] = (sub_ronghe['forecastVolum'].values)*0.975
sub_ronghe.head()

   id  forecastVolum
0   1     249.666667
1   2     301.666667
2   3     154.666667
3   4     283.166667
4   5     361.500000

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/7)+(sub2['forecastVolum'].values)*(1/7)+(sub3['forecastVolum'].values)*(1/7)+(sub4['forecastVolum'].values)*(1/7)+(sub5['forecastVolum'].values)*(1/7)+(sub6['forecastVolum'].values)*(1/7)+(sub7['forecastVolum'].values)*(1/7)
sub_ronghe.head()

   id  forecastVolum
0   1     265.000000
1   2     319.285714
2   3     157.714286
3   4     295.428571
4   5     373.714286

In [13]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/4)+(sub2['forecastVolum'].values)*(1/4)+(sub3['forecastVolum'].values)*(1/4)+(sub4['forecastVolum'].values)*(1/4)
sub_ronghe.head()

   id  forecastVolum
0   1         237.25
1   2         283.50
2   3         148.25
3   4         241.25
4   5         350.50

In [44]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_092904.csv', index=False)