In [2]:
import pandas as pd

In [16]:

# sub1 = pd.read_csv("rongheguize_0902538.csv")
sub1 = pd.read_csv("guize_054.csv")#550

# sub2 = pd.read_csv("evaluation_public_20190917_lgb.csv")
sub2 = pd.read_csv("lgb570.csv")#572

# sub3 = pd.read_csv("tutusubmit02.csv")#550左右
sub3 = pd.read_csv("zhang578.csv")  #572

# sub4 = pd.read_csv("yulao_lgb.csv")#550
sub4 = pd.read_csv("lgb092903.csv") #560
# sub5 = pd.read_csv("yulao_xgb.csv")#550
sub5 = pd.read_csv("xgb0930win.csv") #578

# sub7 = pd.read_csv("zhang578.csv")

# sub8 = pd.read_csv("lgb092702.csv")
sub6 = pd.read_csv("xgb0929.csv")#588

In [36]:
sub1['forecastVolum'] = (sub1['forecastVolum'].values)*(1/2)+(sub2['forecastVolum'].values)*(1/2)
sub1.head()
sub1[['id','forecastVolum']].round().astype(int).to_csv('guizeronghe_sub1.csv', index=False)

In [38]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)
print(sub4.shape)
print(sub5.shape)
print(sub6.shape)
# print(sub7.shape)

(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)

In [9]:
print(sub1.head)
print(sub2.head)
print(sub3.head)
print(sub4.head)
print(sub5.head)
print(sub6.head)
# print(sub7.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            303
1        2            367
2        3            163
3        4            451
4        5            391
...    ...            ...
5275  5364            103
5276  5365             80
5277  5366            102
5278  5367            248
5279  5368             59

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            268
1        2            339
2        3            175
3        4            333
4        5            416
...    ...            ...
5275  5364             98
5276  5365             99
5277  5366             90
5278  5367            222
5279  5368             72

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            236
1        2            251
2        3            143
3        4            244
4        5            311
...    ...            ...
5275  5364             30
5276  5365             30
5277  5366             23
5278  5367            125
5279  5368             26

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            246
1        2            309
2        3            172
3        4            283
4        5            376
...    ...            ...
5275  5364             99
5276  5365             94
5277  5366             92
5278  5367            216
5279  5368             65

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            265
1        2            366
2        3            159
3        4            271
4        5            451
...    ...            ...
5275  5364             82
5276  5365             78
5277  5366             88
5278  5367            200
5279  5368             54

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            220
1        2            286
2        3            131
3        4            225
4        5            354
...    ...            ...
5275  5364             73
5276  5365             69
5277  5366             82
5278  5367            176
5279  5368             47

[5280 rows x 2 columns]>

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/5)+(sub2['forecastVolum'].values)*(1/5)+(sub3['forecastVolum'].values)*(1/5)+(sub4['forecastVolum'].values)*(1/5)+(sub5['forecastVolum'].values)*(1/5)
sub_ronghe.head()

   id  forecastVolum
0   1          262.2
1   2          317.2
2   3          158.0
3   4          290.0
4   5          374.8

In [12]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/6)+(sub2['forecastVolum'].values)*(1/6)+(sub3['forecastVolum'].values)*(1/6)+(sub4['forecastVolum'].values)*(1/6)+(sub5['forecastVolum'].values)*(1/6)+(sub6['forecastVolum'].values)*(1/6)
# sub_ronghe['forecastVolum'] = (sub_ronghe['forecastVolum'].values)*0.975
sub_ronghe.head()

   id  forecastVolum
0   1     256.333333
1   2     319.666667
2   3     157.166667
3   4     301.166667
4   5     383.166667

In [17]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/6)+(sub2['forecastVolum'].values)*(1/6)+(sub3['forecastVolum'].values)*(1/6)+(sub4['forecastVolum'].values)*(1/6)+(sub5['forecastVolum'].values)*(1/6)+(sub6['forecastVolum'].values)*(1/6)
# sub_ronghe['forecastVolum'] = (sub_ronghe['forecastVolum'].values)*0.975
sub_ronghe.head()

   id  forecastVolum
0   1     259.500000
1   2     331.166667
2   3     160.333333
3   4     297.500000
4   5     395.333333

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/7)+(sub2['forecastVolum'].values)*(1/7)+(sub3['forecastVolum'].values)*(1/7)+(sub4['forecastVolum'].values)*(1/7)+(sub5['forecastVolum'].values)*(1/7)+(sub6['forecastVolum'].values)*(1/7)+(sub7['forecastVolum'].values)*(1/7)
sub_ronghe.head()

   id  forecastVolum
0   1     265.000000
1   2     319.285714
2   3     157.714286
3   4     295.428571
4   5     373.714286

In [13]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/4)+(sub2['forecastVolum'].values)*(1/4)+(sub3['forecastVolum'].values)*(1/4)+(sub4['forecastVolum'].values)*(1/4)
sub_ronghe.head()

   id  forecastVolum
0   1         237.25
1   2         283.50
2   3         148.25
3   4         241.25
4   5         350.50

In [18]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_093003.csv', index=False)