In [1]:
import pandas as pd

In [16]:
sub1 = pd.read_csv("yulao_lgb.csv")
sub2 = pd.read_csv("rongheguize_0902.csv")
sub3 = pd.read_csv("evaluation_public_20190917_lgb.csv")

sub4 = pd.read_csv("tutusubmit02.csv")
sub5 = pd.read_csv("yulao_xgb.csv")
sub6 = pd.read_csv("lgb0922.csv")

In [17]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)
print(sub4.shape)
print(sub5.shape)
print(sub6.shape)

(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)

In [18]:
print(sub1.head)
print(sub2.head)
print(sub3.head)
print(sub4.head)
print(sub5.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            241
1        2            291
2        3            149
3        4            246
4        5            367
...    ...            ...
5275  5364             72
5276  5365             66
5277  5366             68
5278  5367            173
5279  5368             49

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            288
1        2            376
2        3            154
3        4            332
4        5            402
...    ...            ...
5275  5364             95
5276  5365             83
5277  5366            104
5278  5367            227
5279  5368             66

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            249
1        2            308
2        3            163
3        4            283
4        5            393
...    ...            ...
5275  5364             94
5276  5365             94
5277  5366             76
5278  5367            214
5279  5368             41

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            236
1        2            251
2        3            143
3        4            244
4        5            311
...    ...            ...
5275  5364             30
5276  5365             30
5277  5366             23
5278  5367            125
5279  5368             26

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            223
1        2            284
2        3            138
3        4            192
4        5            331
...    ...            ...
5275  5364             60
5276  5365             58
5277  5366             84
5278  5367            130
5279  5368             39

[5280 rows x 2 columns]>

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/5)+(sub2['forecastVolum'].values)*(1/5)+(sub3['forecastVolum'].values)*(1/5)+(sub4['forecastVolum'].values)*(1/5)+(sub5['forecastVolum'].values)*(1/5)
sub_ronghe.head()

   id  forecastVolum
0   1          262.2
1   2          317.2
2   3          158.0
3   4          290.0
4   5          374.8

In [19]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/6)+(sub2['forecastVolum'].values)*(1/6)+(sub3['forecastVolum'].values)*(1/6)+(sub4['forecastVolum'].values)*(1/6)+(sub5['forecastVolum'].values)*(1/6)+(sub6['forecastVolum'].values)*(1/6)
sub_ronghe.head()

   id  forecastVolum
0   1     251.000000
1   2     303.166667
2   3     150.000000
3   4     261.833333
4   5     359.166667

In [13]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/4)+(sub2['forecastVolum'].values)*(1/4)+(sub3['forecastVolum'].values)*(1/4)+(sub4['forecastVolum'].values)*(1/4)
sub_ronghe.head()

   id  forecastVolum
0   1         237.25
1   2         283.50
2   3         148.25
3   4         241.25
4   5         350.50

In [20]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_092202.csv', index=False)