In [3]:
import pandas as pd
import numpy as np 
df = pd.DataFrame({'key1':list('ababa'),
  'key2': ['one','two','one','two','one'],
  'data1': np.random.randn(5),
  'data2': np.random.randn(5)})
print(df)

      data1     data2 key1 key2
0 -0.036785  0.714474    a  one
1  1.580710 -0.619232    b  two
2  1.514888  0.340799    a  one
3 -0.157702 -0.099325    b  two
4  1.031660 -0.004862    a  one

In [11]:
df2 = df.groupby('key1').mean()
df2.reset_index()
df = df.merge(df2, 'left',on = ['key1'])
df

    data1_x   data2_x key1 key2   data1_y   data2_y
0 -0.036785  0.714474    a  one  0.836588  0.350137
1  1.580710 -0.619232    b  two  0.711504 -0.359278
2  1.514888  0.340799    a  one  0.836588  0.350137
3 -0.157702 -0.099325    b  two  0.711504 -0.359278
4  1.031660 -0.004862    a  one  0.836588  0.350137

In [8]:
df.reset_index()

   index     data1     data2 key1 key2
0      0 -0.036785  0.714474    a  one
1      1  1.580710 -0.619232    b  two
2      2  1.514888  0.340799    a  one
3      3 -0.157702 -0.099325    b  two
4      4  1.031660 -0.004862    a  one

In [4]:
grouped=df['data1'].groupby(df['key1'])
print(grouped.mean())

key1
a    0.836588
b    0.711504
Name: data1, dtype: float64